.main-navbar {
  padding: 13px 0px 12px;
  backdrop-filter: blur(15px);
  z-index: 99;
  position: relative;

  .navbar {
    padding: 0px;

    .navbar-brand {
      margin: 0px;
      padding: 0px;
    }

    .navbar-collapse {
      .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 14px;

        .socialiconlink {
          text-decoration: none;

          &:hover {
            svg {
              path {
                fill: #F40080;
                transition: 0.7s;
              }
            }
          }
        }
      }

      .navbar-nav {
        margin: 0 auto;
        gap: 26px;
        border-radius: 170px;
        background: rgba(255, 255, 255, 0.02);
        padding: 14px 26px;

        .nav-item {
          position: relative;
          z-index: 2;
          padding: 0px;

          .nav-link {
            font-family: "M400";
            color: #A09BB6;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            padding: 0px;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 30px;
  border: none;
  font-size: unset;
  line-height: unset;
  max-width: max-content;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width:992px) {
  .main-navbar .navbar .navbar-collapse .navbar-nav {
    border-radius: 0px;
    background-color: transparent;
    padding: 10px 0px;
  }

  .main-navbar {
    background: rgba(255, 255, 255, 0.02);
  }
}