.mainbanner {
  padding-top: 127px;
  padding-bottom: 144px;
  position: relative;

  .bottom {
    position: absolute;
    right: -139px;
    top: 371px;
    max-width: 389px;
    width: 100%;
    height: 389px;
  }

  .rightshadebannerimg {
    position: absolute;
    right: -139px;
    top: 371px;
    max-width: 389px;
    width: 100%;
    height: 389px;
    border-radius: 389px;
    background: rgba(244, 0, 128, 0.22);
    filter: blur(350px);
  }

  .leftshade {
    border-radius: 750px;
    background: rgba(244, 0, 128, 0.22);
    max-width: 750px;
    width: 100%;
    height: 750px;
    filter: blur(325px);
    top: -282px;
    left: -306px;
    position: absolute;
  }

  .rightshade {
    border-radius: 750px;
    background: rgba(244, 0, 128, 0.22);
    max-width: 750px;
    width: 100%;
    height: 750px;
    filter: blur(325px);
    top: -282px;
    right: -306px;
    position: absolute;
  }

  .bannerimg {
    position: absolute;
    top: 0%;
    right: 50%;
    max-width: 1000px;
    width: 100%;
    height: 531px;
    transform: translate(50%, 0%);
  }

  .mainparent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    position: relative;

    .topbtn {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 45px;
      background: rgba(244, 0, 128, 0.10);
      color: #F40080;
      text-align: center;
      font-family: "m600";
      font-size: 12px;
      font-style: normal;
      line-height: 120%;
      letter-spacing: 1.2px;
      border: none;
      margin-bottom: 22px;
    }

    .heading {
      color: #FFF;
      text-align: center;
      font-family: "m600";
      font-size: 60px;
      font-style: normal;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 15px;
      max-width: 800px;
    }

    p {
      color: #A09BB6;
      text-align: center;
      font-family: 'm300';
      font-size: 40px;
      font-style: normal;
      line-height: 120%;
      max-width: 590px;
      width: 100%;
      margin-bottom: 50px;
    }

    .start {
      border-radius: 12px;
      box-shadow: 0px 19px 30px -20px rgba(221, 37, 165, 0.80);
      display: flex;
      padding: 18px 60px;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-family: "m400";
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      text-transform: uppercase;
      border: none;
      outline: none;
      background: linear-gradient(259deg, #F40080 -2.61%, #F00585 -0.52%, #DD24A4 17.29%, #CE3CBC 35.1%, #C44DCD 53.96%, #BE57D7 73.87%, #BC5BDB 99.01%);
      background-size: 400% 400%;
      animation: moveGradient 2s linear infinite;
    }

    @keyframes moveGradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

  }
}

@media (max-width:600px) {
  .mainbanner {
    padding: 50px 0px;
  }

  .mainbanner .mainparent .heading {
    font-size: 24px !important;
  }

  .mainbanner .mainparent p {
    font-size: 16px;
  }

  .mainbanner .mainparent .start {
    width: 100%;
  }

  .mainbanner .bottom {
    max-width: 200px;
    height: 200px;
    right: -100px;
    top: 300px;
  }

  .mainbanner .bannerimg {
    height: unset !important;
  }
}