.security{
    padding: 80px 0px;
    .headss{
        h2{
            color: #FFF;

font-family: "Mona Sans";
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 120%;
margin-bottom: 30px;
        }
        p{
            color: #9A999F;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
margin-bottom: 15px;
        }
    }
}