.tokenism {
    padding: 80px 0px;

    .mainheading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
            color: #FFF;

            text-align: center;
            margin-bottom: 15px;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
        }

        p {
            color: #9A999F;

            text-align: center;
            font-family: "Mona Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            max-width: 580px;
            width: 100%;
        }
    }

    .parentcardsss {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        .left {
            .card {
                border-radius: 20px;
                border: 1px solid rgba(255, 255, 255, 0.04);
                background: #11030A;
                backdrop-filter: blur(2px);
                padding: 35px 25px;
                width: 100%;

                .upperhead {
                    color: #FFF;
                    margin-bottom: 20px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                }

                .parenttext {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 12px;

                    &:last-child {
                        padding-bottom: 0px;
                    }

                    p {
                        color: rgba(255, 255, 255, 0.45);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    h6 {
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                    }
                }
            }
        }
.right{
    .card {
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.04);
        background: #11030A;
        padding: 50.839px 110.058px 49.839px 110.058px;
        width: 100%;

       .parentsss{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-area: 72px;
        .innerright {
            
            h2{
                color: #FFF;
                font-family: "Mona Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                margin-bottom: 28px;
            }
            .parenttext{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    color: #FFF;
            
            font-family: "Mona Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; 
                }
                h6{
                    color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
                }
            }
                        }
       }
            
        }

    }
}
       
    }
