.howitswork {
    padding: 80px 0px;
    position: relative;

    .howleftimg{
        max-width: 437px;
        width: 100%;
        height: 437px;
        top: -80px;
        left: -139px;
        position: absolute;
    }

    .howshadeleft {
        border-radius: 437px;
        background: rgba(244, 0, 128, 0.22);
        max-width: 437px;
        width: 100%;
        height: 437px;
        filter: blur(350px);
        top: -80px;
        left: -139px;
        position: absolute;
        z-index: -9;
    }

    .howshaderight {
        border-radius: 750px;
        background: rgba(244, 0, 128, 0.22);
        max-width: 750px;
        width: 100%;
        height: 750px;
        filter: blur(350px);
        top: 2px;
        right: -539px;
        position: absolute;
        z-index: -9;
    }

    .parentcard {
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(35px);
        padding: 74px 75px;
        width: 100%;
        z-index: 99;
        position: relative;
    }

    .mainheading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 60px;

        h2 {
            color: #FFF;
            font-family: "m500";
            font-size: 50px;
            font-style: normal;
            line-height: normal;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        p {
            color: #FFF;
            text-align: center;
            font-family: "m400";
            font-size: 25px;
            font-style: normal;
            line-height: 140%;
            max-width: 640px;
            width: 100%;
        }
    }

    .workparent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        justify-content: center;
        gap: 80px;

        .mainstep {
            h3 {
                color: #F40080;
                font-family: "m400";
                font-size: 25px;
                font-style: normal;
                line-height: 140%;
                margin-bottom: 15px;
            }

            p {
                color: #FFF;
                font-family: "m300";
                font-size: 16px;
                font-style: normal;
                line-height: 120%;
            }
        }
    }
}

@media(max-width:992px){
    .howitswork .workparent{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media(max-width:600px){
    .howitswork{
        padding: 50px 0px;
    }
    .howitswork .parentcard{
        padding: 30px 20px;
    }
    .howitswork .mainheading h2{
        font-size: 22px !important;
    }
    .howitswork .mainheading p{
        font-size: 16px;
    }
    .howitswork .workparent .mainstep h3{
        font-size: 22px !important;
    }
    .howitswork .workparent{
        gap: 30px;
    }
}